<div class="row">
    <div class="col-md-7">
        <h1 class="display-4">Patient Contact Details Management</h1>

<!--        <p class="lead">This is your homepage</p>-->


        <p class="lead">
            Functionality:
        </p>

        <ul>
            <li>Use "Patients" button in the navigation bar to access the list of contact details.</li>
            <li>The table can be sorted via click on a table heading.</li>
            <li>When creating a new patient ("create a new patient"-button) the firstname and surname has to be provided, the email will be checked for correct format. There can not be two patients with identical names.</li>
            <li>The delete and edit function for a patient are provided after clicking on the "view"-button. </li>
            <li>The filter function ("filter"-button), also checks if the search term is contained in the respective field of a patient, e. g. 'tim' as well as 'mo' would find a patient named 'Timo'.</li>
            <li>The "reset filter"-button resets the filter and all patients will be displayed.</li>
        </ul>
    </div>
</div>
